name: 'Terraform'

on:
  pull_request:
    branches:
      - master

env:
  TF_VERSION: 1.0.4

jobs:
  terraform:
    name: 'terraform'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TF_VERSION }}

      - name: Terraform format
        run: terraform fmt -check
